__pycache__/eval.cpython-310.pyc
__pycache__/generate.cpython-310.pyc
__pycache__/GPTQ.cpython-310.pyc
__pycache__/model.cpython-310.pyc
__pycache__/quantize.cpython-310.pyc
__pycache__/tp.cpython-310.pyc
checkpoints/google/paligemma-3b-mix-224/.gitattributes
checkpoints/google/paligemma-3b-mix-224/added_tokens.json
checkpoints/google/paligemma-3b-mix-224/config.json
checkpoints/google/paligemma-3b-mix-224/generation_config.json
checkpoints/google/paligemma-3b-mix-224/model_int8.pth
checkpoints/google/paligemma-3b-mix-224/model-00001-of-00003.safetensors
checkpoints/google/paligemma-3b-mix-224/model-00002-of-00003.safetensors
checkpoints/google/paligemma-3b-mix-224/model-00003-of-00003.safetensors
checkpoints/google/paligemma-3b-mix-224/model.pth
checkpoints/google/paligemma-3b-mix-224/model.safetensors.index.json
checkpoints/google/paligemma-3b-mix-224/preprocessor_config.json
checkpoints/google/paligemma-3b-mix-224/README.md
checkpoints/google/paligemma-3b-mix-224/special_tokens_map.json
checkpoints/google/paligemma-3b-mix-224/tokenizer_config.json
checkpoints/google/paligemma-3b-mix-224/tokenizer.json
checkpoints/google/paligemma-3b-mix-224/tokenizer.model
